/*css reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    max-width:100%;
    border:1px solid grey;
}

/*general styles*/
html{
    font-size:62.5%;
}
body{
    font-size:1.6rem;
    line-height: 1.5;
    color:#4f4f4f;
    background-color:beige;
    font-family: 'Metal Mania', cursive;
}
h1{
    font-size:7rem;
    color: darkred;
    font-family: 'Metal Mania', cursive;
    margin:1.5rem;
}
h2{
    font-size:3rem;
}
h3{
    font-size:2.5rem;
}
h2, h3{
    color:darkred;
}
a{
    text-decoration: none;
    color: darkred;
}
section, footer{
    padding:4% 0;
}

/*helper classes*/
.bg-img{
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
}

/*styling for header*/
header{
    background-color:tan;
}
nav{
    font-size:3.5rem;
    margin:2rem;
}
nav a{
    background-color: #4f4f4f;
    border-radius: 10px;
}

/*about section styles*/
.books{
    background-image: url('../pictures/books.jpg');
    width:45%;
    height:40vh;
}
#about{
    height:40vh;
    display:flex;
    justify-content:space-around;
    align-items:center;
    text-align:center;
}
#about p{
    margin:1rem;
}
.info a{
    background-color:#4f4f4f;
    color: darkred;
    border-radius: 10px;
}

/*projects preview section styling*/
#projects{
      display:flex;
}
.pro1{
    background-image: url('../pictures/books.jpg');
    width:24%;
    height:30vh;
}
.pro2{
    background-image: url('../pictures/books.jpg');
    width:24%;
    height:30vh;
}
.pro3{
    background-image: url('../pictures/books.jpg');
    width:24%;
    height:30vh;
}
.pro4{
    background-image: url('../pictures/books.jpg');
    width:24%;
    height:30vh;
}
.pro5{
    background-image: url('../pictures/books.jpg');
    width:24%;
    height:30vh;
}
.pro6{
    background-image: url('../pictures/books.jpg');
    width:24%;
    height:30vh;
}
.pro7{
    background-image: url('../pictures/books.jpg');
    width:24%;
    height:30vh;
}
.pro8{
    background-image: url('../pictures/books.jpg');
    width:24%;
    height:30vh;
}

/*footer section styling*/
h2{
    text-align: center;
}
.middle{
    text-align:center;
}
.contactinfo{
    font-size:2.5rem;
}
.contactinfo a{
    background-color: #4f4f4f;
    border-radius: 10px;
}