/*css reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    max-width:100%;
    /* border:1px solid grey; */
}

/*general styles*/
html{
    font-size:62.5%;
}
body{
    font-size:1.6rem;
    line-height: 1.5;
    background-color:lightgrey;
    font-family: 'Metal Mania', cursive;
}
h1{
    font-size:7rem;
    color: crimson;
    font-family: 'Metal Mania', cursive;
    margin:1.5rem;
}
h2{
    font-size:3rem;
}
h3{
    font-size:2.5rem;
}
h2, h3{
    color:crimson;
}
a{
    text-decoration: none;
    color: crimson;
}
section, footer{
    padding:4% 0;
}

/*helper classes*/
.bg-img{
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
}

/*styling for header*/
header{
    background-color:skyblue;
}
nav{
    font-size:3.5rem;
    margin:2rem;
}
nav a{
    background-color: black;
    border-radius: 10px;
}

/*about section styles*/
.chair{
    background-image: url('https://images.unsplash.com/photo-1618351708125-f8d1035c1b15?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bWluaWF0dXJlc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
    width:45%;
    height:40vh;
}
#about{
    height:40vh;
    display:flex;
    justify-content:space-around;
    align-items:center;
    text-align:center;
}
#about p{
    margin:1rem;
}
.info a{
    background-color:black;
    color: crimson;
    border-radius: 10px;
}

/*projects preview section styling*/
.text{
      display:flex;
      justify-content:space-around;
}
.set1{
    display:flex;
    justify-content:space-around;
}
.pro1{
    background-image: url('https://images.unsplash.com/photo-1529416272270-05ffe151a74c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bWluaWF0dXJlc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
    width:24%;
    height:30vh;
}
.pro2{
    background-image: url('https://images.unsplash.com/photo-1581273126845-a6892323dfc1?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8bWluaWF0dXJlc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
    width:24%;
    height:30vh;
}
.pro3{
    background-image: url('https://images.unsplash.com/photo-1483119107169-31558642c29c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8bWluaWF0dXJlc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
    width:24%;
    height:30vh;
}
.pro4{
    background-image: url('https://images.unsplash.com/photo-1612380318869-7925b91da6ba?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bWluaWF0dXJlc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
    width:24%;
    height:30vh;
}
.pro5{
    background-image: url('https://images.unsplash.com/photo-1624253428622-e6a9f1136882?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8bWluaWF0dXJlc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
    width:24%;
    height:30vh;
}
.pro6{
    background-image: url('https://images.unsplash.com/photo-1610005908730-9c52b2e57f8f?ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8bWluaWF0dXJlc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
    width:24%;
    height:30vh;
}
.pro7{
    background-image: url('https://images.unsplash.com/photo-1624253428366-3c2db6e1a551?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8bWluaWF0dXJlc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
    width:24%;
    height:30vh;
}
.pro8{
    background-image: url('https://images.unsplash.com/photo-1624254063152-ee200d07972c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fG1pbmlhdHVyZXN8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
    width:24%;
    height:30vh;
}

/*footer section styling*/
h2{
    text-align: center;
}
.middle{
    text-align:center;
}
.contactinfo{
    font-size:2.5rem;
}
.contactinfo a{
    background-color: black;
    border-radius: 10px;
}

/*media queries*/

@media (max-width: 800px){
/*header styles*/

/*top section styles*/
.chair{
    margin-left:2.5%;
}
/*middle section styles*/
.pro1, .pro2, .pro3, .pro4, .pro5, .pro6, .pro7, .pro8{
    width:20%;
    height:28vh;
}
}/*closes tablet view 800px*/

@media (max-width: 500px){
    nav a{
        border-radius:0;
    }
    nav{
        font-size:3rem;
    }
/*header section styles*/
header{
    text-align:center;
}
h1{
    margin:0;
}
div.left{
     display:flex;
     margin:0;
     justify-content:center;
}
.left nav a{
    display:flex; 
    justify-content:center;
    margin:2%;
}
/*middle section styles*/
#about{
    flex-direction:column;
    margin:5%;
    height:auto;
}
div.chair{
    width:80%;
    margin:0;
}
h2{
    font-size:3.5rem;
}
div.info a{
    font-size:2.5rem;
}
/*bottom section styles*/
#projectpreview{
    display:flex;
}
.set1{
    flex-wrap:wrap;
}
div.pro1{
    width:45%;
    order:1;
}
div.pro2{
    width:45%;
    order:2;
}
.first h3{
    order:3;
}
div.pro3{
    width:45%;
    order:4;
}
div.pro4{
    width:45%;
    order:5;
}
div.pro5{
    width:45%;
    order:7;
}
div.pro6{
    width:45%;
    order:8;
}
div.pro7{
    width:45%;
    order:10;
}
div.pro8{
    width:45%;
    order:11;
}
}/*closes mobile view 500px*/